*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
  background: white;
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #4f46e5;
}

.input-area{
    display: flex;
    gap: 10px;    
}


input{
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button{
    padding: 10px 15px;
    background: #3685cf;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

ul{
    list-style: none;
    margin-top: 20px;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 8px;
    background: #f9fafb;
    border-radius: 6px;
}

li button{
    background: #f9fafb;
    padding: 5px 8px;
}

.completed{
    color: gray;
    opacity: 0.7;
}

.footer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.filters button{
    margin: 0 3px;
}

